$border-color: #ddd;
$default-padding: 20px;

$black: #000;
$gray: #959595;
$red: #ff0000;

.black {
    color: $black;

    & :hover {
        color: $black;
        transition: all 0.3s;
    }
}

.gray {
    color: $gray;
}

.red {
    color: $red;

    & :hover {
        color: $red;
        transition: all 0.3s;
    }
}
